h1 {
    font-size: 100px;
    text-align: center;
}
h2{
    font-size: 20px;
}
body{
    background-color: rgb(254, 191, 191);
}
.intro{
    align-items: center;
    font-size: 50px;
    text-align: center;
    display: flex;
    margin: auto;
    width: 250px;
    height: 250px;
    background-color: rgb(182, 60, 80);
    }

.blinking{
    animation:blinkingText 1.3s infinite;
}
@keyframes blinkingText{
    2%{     color: rgb(0, 0, 0);    }
    0%{     color: rgb(42, 5, 255);    }
    10%{     color: rgb(58, 255, 68);    }
    20%{     color: rgb(239, 182, 67);    }
    30%{    color: rgb(255, 0, 0); }
    40%{    color:hotpink; }
    30%{    color:rgb(249, 255, 78);  }
    50%{   color: rgb(56, 248, 232);    }
    100%{   color: rgb(241, 118, 118);    }
}

.intro{
    background-color: rgb(139, 236, 255);
    justify-content: center;
    display:block;
}

.container {
    background: #5df0ff;
    display: inline-block;
    border: 5px solid #5df0ff;
    justify-content: flex-end;
    margin: 0px 215px 50px 0px
    align-items: stretch;
  }
  
  .grid {
    display: grid;
    grid-template-columns: repeat(3, 140px);
    grid-template-rows: repeat(3, 154px);
    grid-gap: 5px;
  }
  
  .cell {
     /* center the cell content */
    justify-content: center;
    align-items: center;
    display: flex;
    font-family: Arial;
    font-size: 3rem;
    font-weight: bold;
    background: rgb(255 134 134);
  }

 .click{

     background-color: rgb(255, 49, 49);
     color: black;
     height: 60px;
     width: 121px;
 } 

 .container{
     justify-content: flex-end;
     margin: 0px 185px 50px 0px;
     display: inline-block;
     align-items: stretch;
     flex-basis: auto;
 }
  
 .draw{}